.header {
  display: flex;
  button {
    margin-left: auto;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  .smile {
    font-size: 40px;
    margin: 20px auto;
  }
  .text {
    font-size: 20px;
  }
}

.loading {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  .loader {
    width: 100px;
    height: 100px;
  }
}
