header {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    h1 {
      margin: 0 10px;
      cursor: pointer;
    }
    .toggle {
      margin: 0 10px;
      display: flex;
      align-items: center;
    }
  }
}
