// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

@include mat.core();

$dark-primary: mat.define-palette(mat.$red-palette, 700, 900, 500);
$dark-accent: mat.define-palette(mat.$orange-palette, 600, 800, 400);
$dark-warn: mat.define-palette(mat.$deep-orange-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
      background: mat.define-palette(mat.$grey-palette, 900),
      foreground: (
        base: #ffffff,
        // основной цвет текста
        divider: rgba(255, 255, 255, 0.12),
        disabled: rgba(255, 255, 255, 0.3),
        hint: rgba(255, 255, 255, 0.3),
        secondary: rgba(255, 255, 255, 0.7),
        icon: rgba(255, 255, 255, 0.7),
      ),
    ),
  )
);

.dark-theme {
  background-color: #1f1f1f;
  @include mat.all-component-themes($dark-theme);
}
